body{
  background-color: #ffff99;
}
#container
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

header{
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  background-color: #ffffff;
  border-radius: 0.4em;
  text-align: center;
  /* box-shadow: 12px 5px 30px #404040; */
}

nav{
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  /* background-color: #f95782; */
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid;

}

/* style for ui in nav*/

nav ul{
  padding: 0;
  margin-top: 0.3em;
  margin-bottom: 0.5em;

}

nav li{

  margin: 0.3em;
  padding: 0.2em;
  background-color: #009933;
  border-radius: 1em;
  list-style-type: none;

}

nav li a{
  color: #ffffff;
  text-decoration: none;

}
img{
  max-width: 100%;
}

main{
  background-image:url("beach.jpg");
  display: block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  color: #ffffff;
  line-height: normal;
  border-radius: 1em;
  background-color: #ff9980;
  border-top: solid 0.3em #009933;
  border-bottom: solid 0.3em #009933;


}

.tablet{
  display: none;
}

main p
{
  font-size: 1em;
}
.mobile{
  display: inline;
}

.desktop
{
  display: none;
}

footer{
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
}


.equip
{
  display: none;
  float: left;
  margin-right: 20px;
}
ul{
  margin-bottom: 50px;
  list-style-position: inside;
}
h1{
  margin-left: 10px;
  color: lightyellow;

}
p , dd {
  margin-top: 10px;

  font-size: 20px;
}

li {
  align-items: center;
  font-size: 23px;
  font-family: Rockwell;
}
dt{
font-weight: bold;
margin-top: 10px;
  font-size: 24px;
  color: yellow;
}
